*
{
	padding:0px;
	margin:0px;
}
.container
{
	height: 100vh;
	width: 100%;
	background-image: url(../img/bgg.jpg);
	background-repeat: no-repeat;

	background-size: cover;
}
.form-box
{
	height: 70%;
	width:30%;
	background-color: #6e736e5c;
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
}
.sub-form-box
{
	height: 100%;
	width:80%;
	position: absolute;
	left:50%;
	top:50%;
	
	transform: translate(-50%,-50%);
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.form-header
{
	height: 20%;
	width: 100%;
	display: flex;
	
	justify-content: center;
	flex-direction: row;
}
.sub-form-header
{   
	height: 100%;
	width: 70%;
	line-height:80px;
	
}
.sub-form-header p
{
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
	color:white;
	letter-spacing: 1px;
	 font-style: oblique;
	font-size: 2em;

}
.form-body
{
	height: 80%;
	width: 100%;
		
	display: flex;
	
	flex-direction: column;
   column-gap:space-between;
}

.form-user-box
{
	height: 32%;
	width: 100%;
}
.text-box{
	height: 38px;
	width: 80%;
	position: absolute;
	left:10%;
	margin-top:18px;
	border-radius: 20px;
	color:white;
	font-size: 20px;
	text-align: center;

}
.form-pass-box
{
	height: 32%;
	width: 100%;
}
.text-pass{
	height: 38px;
	width: 80%;
	position: absolute;
	left:10%;
	margin-top:18px;
	border-radius: 20px;
	color:white;
	font-size: 20px;
	text-align: center;

}
.form-btn-box
{
	height: 32%;
	width: 100%;
	/*background-color:gray;*/
}
.button1{
	
	height: 35px;
	width: 40%;
	background-color: #3a3c4e;
	position: absolute;
	font-size: 16px;
	left:18%;
	color: white;
	margin-top: 8%;
    border-radius: 20px;
    text-align: center;
}
.button1:hover
{
	background-color:#4297da;
	transition: 0.4s;
}